.bd-navbar {
    background-color: #3C454C;
}

.sidebar {
    padding: 0;
}
.sidebar a {
    color: #333;
    opacity: 0.70;
}
.sidebar .active {
    font-weight: bold;
    color: #13b2ad;
    opacity: 1;
}
.sidebar a:hover {
    font-weight: bold;
    opacity: 1;
}